backend:
  name: git-gateway
  branch: main

site_url: https://thing2.netlify.app
display_url: https://thing2.netlify.app

logo_url: https://thing2.netlify.app/logo.png

publish_mode: editorial_workflow

media_folder: "public/images"
public_folder: "/images"

collections:
  - name: "posts"
    label: "Blog Posts"
    folder: "content/posts"
    create: true
    slug: "{{slug}}"
    format: "mdx"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }
